*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/misc.xml
.idea/caches/build_file_checksums.ser
.idea/codeStyles/Project.xml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/modules.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
app/src/main/java/com/example/luiz1/nocash/HomeActivity.java
.idea/modules.xml
